<!-- NAVIGATION BAR -->
<header>
    <div class="container">
       <!--The chatscrum logo at the left-->
       <div class="header-left">
           <img src="assets/img/logo.png" alt="ChatScrum logo" width="11.46%" height="4.11%">
       </div>
       <!--The login and signup link-->
       <div class="header-right">
           <li>LOGIN</li>
           <button>SIGN UP</button>
       </div>
    </div>
</header>

<div class="body">
    <p id="p1">Log in to ChatScrum</p>
    <div>
        <form action="">
            <label class="lab" id="email" for="Email">Email</label><br>
            <input type="email" id="input_em" name="email" placeholder="joshuaokwe@gmail.com"><br>
            <label class="lab" id="other_lab" for="Password" >Password</label><br>
            <input type="Password" id="input_pass" name="Password" placeholder="enter password ..."><br>
            <label class="lab" id="other_lab" for="Project Name">Project Name</label><br>
            <input type="text" id="input_pro" name="Project Name" placeholder="enter project name ..."><br>
            <input type="submit" class="submit" value="LOGIN"><p id="item1">Forgot Password?</p>
        </form>
    </div>
</div>

<!-- FOOTER -->
<footer>
    <div class="container-2">
       <p class="chatscr">&copy;  Chatscrum 2019 <span class="supp">Support</span><span class="tou">Terms of use</span></p>
       <!-- <p class="supp">Support <span>Terms of use</span></p> -->
    </div>
  </footer>