<header>
    <div class="topnav" id="myTopnav">
        <div class="item1"><img href="#home" src="assets/img/logo.png"></div>
        <div class="item2" id="mytasks">
            <div id="top"></div>
            <span id="task1" class="active">My Tasks</span>
        </div>
        <div class="item2" id="teamtasks">
            <span id="task2">Team Tasks</span>
        </div>
        <div class="item3">
            <span id="span1">Project</span>
            <span id="span2">Linnux Jobber</span>
        </div>
        <div class="item4">
            <span id="span1">Sprint 91</span>
            <span id="span2">Jul 23 - Jul 30</span>
        </div>
        <div class="item5">
            <span id="span1">Slack</span>
            <img src="assets/img/slack.png">
            <span id="span2">Connected</span>
        </div>
        <div class="item6">
            <span id="span1">Theme</span>
            <span id="span2">Plain</span>
        </div>
        <div class="item7">
            <img src="assets/img/Ellipse.png">
            <span id="span1">Joshua Okwe</span>
            <span id="span2">Developer</span>
        </div>
        <div class="item8">
            <img id="img1" src="assets/img/help.png">
            <img id="img2" src="assets/img/power.png">
        </div>
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a> -->
    </div>
</header>

<div class="body">
    <!-- CHAT SIDE -->
    <div class="chatbox">
        <div class="chats">
            <p>Joshua Okwe has joined the chat</p>
            <div class="chat">
                <img src="assets/img/Ellipse.png" style="border: 1px solid #4DFFD4; border-radius: 10px;">
                <p id="name" style="color: #4DFFD4">Joshua Okwe</p>
                <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                <p id="time">10:02 am • 9-07-2019</p>
            </div>
            <div class="chat">
                <img src="assets/img/Ellipse.png" style="border: 1px solid #FF4D6D; border-radius: 10px;">
                <p id="name" style="color: #FF4D6D;">Azeem Animashaun</p>
                <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p id="time">10:02 am • 9-07-2019</p>
            </div>
            <p>Louis E has joined the chat</p>
            <div class="chat">
                <img src="assets/img/Ellipse.png" style="border: 1px solid #59BB1E; border-radius: 10px;">
                <p id="name" style="color: #59BB1E;">Louis E</p>
                <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p id="time">10:02 am • 9-07-2019</p>
            </div>
            <p>Azeem Animashaun has left the chat</p>
            <p>Olufeko Samuel has joined the chat</p>
            <p>Oluwaseyi.E has left the chat</p>
            <div class="chat">
                <img src="assets/img/Ellipse.png" style="border: 1px solid #4DFFD4; border-radius: 10px;">
                <p id="name" style="color: #4DFFD4">Joshua Okwe</p>
                <p id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p id="time">10:02 am • 9-07-2019</p>
            </div>
        </div>
        <div><input type="text" placeholder="Send a message"></div>
    </div>
    <!-- GOALS SIDE -->
    <div class="goals">
        <div class="week">
            <p><b>Task for the week</b></p>
            <div class="task">
                <p id="task1">Good from itself gathering rule man void female let is creeping own.</p>
                <p id="numb">600</p>
            </div>
            <div class="task">
                <p id="task1">Sea cattle. The moving together there don't two night our midst behold there fill brought tree rule there from firmament night be female. Firmament he replenish third fruit him there grass beast. Very wherein. Hath, them. Seas grass shall form had divide.</p>
                <p id="numb">600</p>
            </div>
        </div>
        <div class="today">
            <p><b>Today's Target</b></p>
            <div class="task">
                <p id="task1">Brought all they're forth you appear wherein may. Make morning image created Appear spirit darkness, seasons said have together set. Sixth after behold also said make creature he, have.</p>
                <p id="numb">600</p>
            </div>
            <div class="task">
                <p id="task1">Sea cattle.</p>
                <p id="numb">600</p>
            </div>
            <div class="task">
                <p id="task1">Good from itself gathering rule man void female let is creeping own. Isn't from gathered were may above under. Gathering it his us. Creature Shall had spirit herb. Signs. Sea cattle. The moving together there don't two night our midst behold there fill brought tree rule there from firmament night be female. Firmament he replenish third fruit him there grass beast. Very wherein. Hath, them. Seas grass shall form had divide.</p>
                <p id="numb">600</p>
            </div>
            <div class="task">
                <p id="task1">Good from itself gathering rule man void female let is creeping own. Isn't from gathered were may above under. Gathering it his us. Creature Shall had spirit herb. Signs. Sea cattle. The moving together there don't two night our midst behold there fill brought tree rule there from firmament night be female. Firmament he replenish third fruit him there grass beast. Very wherein. Hath, them. Seas grass shall form had divide.</p>
                <p id="numb">600</p>
            </div>
        </div>
        <div class="verify">
            <p><b>Verify Task</b></p>
            <div class="task">
                <p id="task1">Add image for the file. <span style="color: blue; text-decoration: underline; word-wrap: break-word;">https://www.figma.com/file/0jNee0sJiNxhnQqDn0b0Ngal/New-ChatScrum?node-id=24%3A0</span></p>
                <p id="numb">600</p>
            </div>
        </div>
        <div class="done">
            <p><b>Done</b></p>
            <div class="task">
                <p id="task1">Have own. Kind dominion, forth air waters won't, days whales fruitful fruit give shall. Life their rule his. Over first The.</p>
                <img src="assets\img\task_img.png" style="margin-left: 4.72%; margin-right: 4.72%">
                <p id="numb">600</p>
            </div>
            <div class="task">
                <p id="task1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p id="numb">600</p>
            </div>
        </div>
        <button>ADD TASK</button>
    </div>
</div>
