<!-- NAVIGATION BAR -->
<header>
  <div class="container">
     <!--The chatscrum logo at the left-->
     <div class="header-left">
         <img src="assets/img/logo.png" alt="ChatScrum logo">
     </div>
     <!--The login and signup link-->
     <div class="header-right">
         <li>LOGIN</li>
         <button>SIGN UP</button>
     </div>
  </div>
  </header>

<div class="body">
  <!-- navbar -->
  <!-- <div></div> -->
  <!-- body -->
  <div>
    <!-- left hand -->
    <div>
      <div class="home-items">
        <img src="assets/img/items.png">
      </div>
      <span class="home-items2">All in one with <span style="color: #4DFFD4;">ChatScrum</span></span>
      <!-- buttons -->
      <div class="home-items3">
        <div class="buttonHolder"><input type="submit" id="btn-1" value="SIGN UP"></div>
        <div class="buttonHolder2"><input type="button" value="Try Out Demo!"></div>
      </div>
    </div>
    <!-- right hand -->
    <div class="home-items4"><img src="assets/img/snap.png"  class="responsive" width="685px" height="658px"></div>
  </div>
</div>

<!-- FOOTER -->
<footer>
  <div class="container-2">
     <p class="chatscr">&copy;  Chatscrum 2019 <span class="supp">Support</span><span class="tou">Terms of use</span></p>
     <!-- <p class="supp">Support <span>Terms of use</span></p> -->
  </div>
</footer>